@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web&display=swap");
body {
  font-family: "Titillium", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;

  --sm-spacing: 0.625rem;
  --md-spacing: 0.875rem;
  --lg-spacing: 1.125rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg: 51, 51 ,51;
  --bg-alt: 47, 21, 11;
  --text: 219, 181, 44;
  --primary: 249, 229, 167;
  --secondary: 245, 225, 164;
  --icon: var(--secondary);
  --icon-alt: var(--primary);
  --font-alt: "Comfortaa", sans-serif;
  color: rgba(var(--text), 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 500ms;
}

a {
  font-weight: 500;
  color: rgba(var(--secondary));
  text-decoration: none;
}

body {
  margin: 0;
  display: grid;
  place-content: center;
  min-width: 20rem;
  min-height: 100vh;
  background: url("../assets/bg-texture.png") rgba(var(--bg-alt), .95);
}

/* keeping this one in mind, nice effect */
body:has(main:hover){
  background: url("../assets/bg-texture.png") rgba(var(--bg-alt), 1);
}
button {
  display: grid;
  place-content: center;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style-type: none;
}

.data{
  position: absolute;
  top: 2%;
  left: 2%;
}